html {
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

#app {
    width: 100%;
}

#app>.Application {
    width: 80%;
    min-width: 19.9em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    margin-top: 10vh;
    font-size: 1.25rem;
}

#app>.Application>div:not(.Header) {
    width: 100%;
    margin-top: 2em;
}
