.Header {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.8rem;
    opacity: 0.5;
    z-index: 999;
}


.Header>.separator {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.Header>span>a {
    text-decoration: none;
}
