.PasswordField {
    width: 100%;
    margin-bottom: 1em;
}

.PasswordField>div {
    width: 100%;
}

.PasswordField>div:first-child {
    margin-bottom: 0.5em;
}

.PasswordField>div>input {
    width: 100%;
    font-size: inherit;
    box-sizing: border-box;
}
